<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AsyncRAT_Sharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <AsyncRAT_Sharp.Properties.Settings>
            <setting name="Ports" serializeAs="String">
                <value />
            </setting>
            <setting name="Filename" serializeAs="String">
                <value />
            </setting>
            <setting name="Notification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Mutex" serializeAs="String">
                <value />
            </setting>
            <setting name="Pastebin" serializeAs="String">
                <value />
            </setting>
            <setting name="IP" serializeAs="String">
                <value />
            </setting>
            <setting name="ProfileBuilder" serializeAs="String">
                <value>False</value>
            </setting>
        </AsyncRAT_Sharp.Properties.Settings>
    </userSettings>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
  </appSettings>
</configuration>
